@model OrangeBricks.Web.Controllers.Viewing.ViewModels.BookViewingViewModel
@{
    ViewBag.Title = "Book Viewing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewBag.Title</h2>
<p>Book a viewing for the @Model.PropertyType on @Model.StreetName?</p>
@using (Html.BeginForm("BookViewing", "Viewing", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="form-group">
        @Html.LabelFor(m => m.ViewingDateTime, "Date and Time", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.Hidden("PropertyId", Model.PropertyId)
            @Html.TextBoxFor(m => m.ViewingDateTime, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Book Viewing" />
        </div>
    </div>
}